// COLORS
$first-color: #1B100D;
$second-color: #6A2C0C;
$third-color: #CB5909;
$fourth-color: #F18E1C;
$fifth-color: #FFFBB1;

// FONTS
@font-face {
  font-family: 'Gothic Leaf';
  src:font-url('GothicLeaf.ttf');
  font-weight: normal;
  font-style: normal;
}